
<div  id="wrapper" class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
  <!-- <div class="cover-photo"></div> -->
  <div class="pushdown" style="height: 175px; width:100%;"></div>

  <div class="profile-content">

    <div class="profile-info">
      <a href="../photos/Bio-profile-pic-lightboxSize.jpeg" data-lightbox="bio-pic" data-title="Luke Grossmann" >
       <img src="../photos/Bio-profile-pic.jpg" class="profile-photo">
      </a>
      <div class="profile-name">
        <h1 class="name-font h1-bio">Luke A Grossmann</h1>
        <h2 class="h2-bio">Full Stack Developer </h2>
      </div>
    </div>
    <p class="intro text-50 p-bio">I am a programmer and developer who graduated from Lighthouse labs with a Diploma of Web Development in Software Craftsmanship. During this endeavor, I built many web applications, some of which are: <em>ChattyApp</em> utilizing Reactjs paired with websockets, <em>Jungle Rails</em> an Ecommerce app built with Ruby on Rails and the Xbox Elite controller enhancer <em>Map-X</em>.</p>

    <blockquote class="text-50">&quot;Being realistic is the most commonly traveled road to mediocrity.&quot; -Will Smith</blockquote>

    <div class="biography">

      <p class="text-10 p-bio">I am an innovative, ambitious developer, that has a knack for being extremely organized and detail-orientated. I am sure to always bring a positive attitude when faced with difficult problems, and pride myself on finding optimal solutions. I have been known for my tenacity and have been referred to by mentors as a “wrecking ball”. Although I may be great at smashing down walls, I must often force myself to step back and think from a new perspective when tunnel vision has “activated” on complex problems.</p>
      <p class="text-10 p-bio">I have led and executed multiple web applications utilizing a wide variety of platforms, frameworks, libraries, query builders, databases and languages, some of which are: Nodejs, Express, Reactjs, Rails, Bootstrap, Jquery, Knexjs, Javascript, Ruby, HTML, CSS, SQL and PostgreSQL. I am also experienced in the translation of wireframes and rapid prototyping tools to accurate, modular, working code, as well as, designing interactive and responsive web applications in an agile development environment.</p>

      <p class="text-10 p-bio">In addition to my skills, I am driven by a strong passion for software architecture, web development, game development and the universe of tech. I am always excited to connect with and contribute to programming teams.</p>
    </div>
  </div>
</div>


