
<div  id="wrapper" class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
  <div class="cover-photo"></div>

  <div class="profile-content">

    <div class="profile-info">
      <!-- <img src="../photos/website-pic.jpeg" class="profile-photo"> -->
      <div class="profile-name">
        <h1>Chris Pratt</h1>
        <h2>Dinosaur Whisperer</h2>
      </div>
    </div>

    <p class="intro">Chris Pratt is a TV and film actor known for his roles in comedic fare like <em>Parks and Recreation</em> and the sci-fi blockbusters <em>Guardians of the Galaxy</em> and <em>Jurassic World</em>.</p>

    <blockquote>&quot;I have no idea what I'm doing, but I know I'm doing it really, really well.&quot;</blockquote>

    <div class="biography">

      <p>Chris Pratt was born on June 21, 1979 in Virginia, Minnesota, the youngest of three siblings. He and his family later moved to Lake Stevens, Washington, and Pratt eventually did a small amount of acting in plays and at a dinner theater.</p>
      <p>He moved to Maui, Hawaii at one point and was working as a waiter at the Bubba Gump Shrimp Company when he met actress and director Rae Dawn Chong. She liked his look and energy and cast him in the 2000 short film Cursed Part 3. This opened the door for Pratt
        to pursue more acting work, and he landed a role in 2002 in the series Everwood as athlete Bright Abbott, remaining with the show until its 2006 ending.
      </p>

      <p>Pratt has starred in a number of films and TV shows, including:</p>

      <ul>
        <li>Parks &amp; Recreation</li>
        <li>Zero Dark Thirty</li>
        <li>The Lego Movie</li>
        <li>Guardians of the Galaxy</li>
        <li>Jurassic World</li>
      </ul>


      <p>In 2009, Pratt wed fellow actor Anna Faris, a comedic performer as well known for her roles in screen projects like Scary Movie and Mom. The couple has a son.</p>
    </div>
  </div>
</div>
