<section id="footer">
  <div class="container">
    <div class="row text-center text-xs-center text-sm-left text-md-left">
      <div class="col-xs-12 col-sm-4 col-md-6" style="padding:10px; padding-top:15px;">
      <!--         <h5>Quick links</h5> -->
        <ul class="list-unstyled quick-links" style="padding:10px;">
          <li><a href="/"><i class="fa fa-angle-double-right"></i>Home</a></li>
          <li><a id="toggle-imprint-bio" href="#bio"><i class="fa fa-angle-double-right"></i>About</a></li>
          <li><a id="toggle-imprint-resume" href="#resume"><i class="fa fa-angle-double-right"></i>Resume</a></li>
          <li><a id="toggle-imprint-lab" href=#lab><i class="fa fa-angle-double-right"></i>Portfolio</a></li>
          <li><a id="toggle-imprint-game" href="#game"><i class="fa fa-angle-double-right"></i>Game</a></li>
        </ul>
      </div>
      <!--  <div class="col-xs-12 col-sm-4 col-md-4">
          <h5>Quick links</h5>
          <ul class="list-unstyled quick-links">
            <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Home</a></li>
            <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>About</a></li>
            <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>FAQ</a></li>
            <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Get Started</a></li>
            <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Videos</a></li>
          </ul>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4">
          <h5>Quick links</h5>
          <ul class="list-unstyled quick-links">
            <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Home</a></li>
            <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>About</a></li>
            <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>FAQ</a></li>
            <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Get Started</a></li>
            <li><a href="https://wwwe.sunlimetech.com" title="Design and developed by"><i class="fa fa-angle-double-right"></i>Imprint</a></li>
          </ul>
      </div> -->
      <div class="col-xs-12 col-sm-12 col-md-6" style="margin-top:unset;"">
        <ul class="list-unstyled list-inline social text-right" style="margin:unset; padding:10px;">
          <li class="list-inline-item"><a href="https://www.facebook.com/luke.grossmann" target="_blank"><i class="fa fa-facebook"></i></a></li>
          <li class="list-inline-item"><a href="https://twitter.com/GrossmannLuke?lang=en" target="_blank"><i class="fa fa-twitter"></i></a></li>
          <li class="list-inline-item"><a href="https://www.linkedin.com/in/lukegrossmann/" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
          <li class="list-inline-item"><a href="https://www.instagram.com/luke_ag/" target="_blank"><i class="fa fa-instagram"></i></a></li>
          <li class="list-inline-item"><a href="https://plus.google.com/u/0/116095912562110779701" target="_blank"><i class="fa fa-google-plus"></i></a></li>
          <li class="list-inline-item"><a href="mailto:l.baziwgrossmann@gmail.com" target="_blank"><i class="fa fa-envelope"></i></a></li>
          <li class="list-inline-item"><a href="https://github.com/ItsJustChewbacca" target="_blank"><i class="fab fa-github"></i></a></li>
        </ul>
      </div>
      </hr>
    </div>
    <!-- <div class="row"> -->
      <!-- <div class="col-xs-12 col-sm-12 col-md-6 mt-2 mt-sm-5">
        <ul class="list-unstyled list-inline social text-center">
          <li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-facebook"></i></a></li>
          <li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-twitter"></i></a></li>
          <li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-instagram"></i></a></li>
          <li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-google-plus"></i></a></li>
          <li class="list-inline-item"><a href="javascript:void();" target="_blank"><i class="fa fa-envelope"></i></a></li>
        </ul>
      </div>
      </hr> -->
    <!-- </div> -->
    <!-- <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
        <p><u><a href="https://www.nationaltransaction.com/">National Transaction Corporation</a></u> is a Registered MSP/ISO of Elavon, Inc. Georgia [a wholly owned subsidiary of U.S. Bancorp, Minneapolis, MN]</p>
        <p class="h6">&copy All right Reversed.<a class="text-green ml-2" href="https://www.sunlimetech.com" target="_blank">Sunlimetech</a></p>
      </div>
      </hr>
    </div> -->
  </div>
</section>
