<!DOCTYPE html>
<html lang="en" id="main-page-html">
  <meta charset="UTF-8">
  <head>
    <title>Portfolio</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <link rel="stylesheet" href="/styles/options.css" type="text/css" />
    <!-- <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css"> -->

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.5/css/all.css" integrity="sha384-3AB7yXWz4OeoZcPbieVW64vVXEwADiYyAEhwilzWsLw+9FgqpyjjStpPnpBO8o8S" crossorigin="anonymous">
  </head>
    <body>

        <div class="options">

            <label class="option-1">
                <div class="option-content">
                    <div class="svg-wrapper">
                        <svg height="60" width="320" xmlns="http://www.w3.org/2000/svg">
                            <rect class="shape" height="60" width="320" />
                            <h4 class="index-fall-winter text">Fall/Winter</h4>
                        </svg>
                    </div>
                </div>
            </label>
            <label class="option-2">
                <div class="option-content">
                    <div class="svg-wrapper">
                        <svg height="60" width="320" xmlns="http://www.w3.org/2000/svg">
                            <rect class="shape" height="60" width="320" />
                            <h4 class="index-spring-summer text">Spring/Summer</h4>
                        </svg>
                    </div>
                </div>
            </label>
        </div>

        <script type="text/javascript" src="/scripts/options.js"></script>


    </body>
</html>
