<!-- <div id="portfolio-wrapper" class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12" > -->
  <div id="landing">
    <div class="svg-wrapper">
      <a id="jump" href="#portfolio">
        <svg height="60" width="320" xmlns="http://www.w3.org/2000/svg">
      <rect class="shape" height="60" width="320" />
      <div class="text">Luke Grossmann</div>
      </svg></a>
    </div>
  </div>
  <div id="portfolio">
    <div class="project-list">
      <div class="project-card">
        <a href="#">
          <img src=../photos/Homepage.png alt="picture">
        </a>
        <div class="project-info">
          <h3><a href="#">A Project</a></h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut at pretium dui, in hendrerit nulla. Nam ac enim eu turpis sodales blandit. Etiam finibus ligula.</p>
        </div>
      </div>

      <div class="project-card">
        <a href="#">
          <img src="../photos/Homepage-jungle.png" alt="picture">
        </a>
        <div class="project-info">
          <h3><a href="#">A Project With A Longer Title</a></h3>
          <p>Lorem ipsum  sit amet, consectetur adipiscing elit. Pellentesque arcu ante, lobortis vel metus cursus. Integer efficitur est non consequat hendrerit. Morbi. </p>
        </div>
      </div>
      <div class="project-card">
        <a href="#">
          <img src="../photos/mainpage-tweeter.png" alt="picture">
        </a>
        <div class="project-info">
          <h3><a href="#">A Project With A Longer Title</a></h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque arcu ante, lobortis vel metus cursus. Integer efficitur est non consequat hendrerit. Morbi. </p>
        </div>
      </div>

        <div class="project-card">
        <a href="#">
          <img src="../photos/Tiny-app.png" alt="picture">
        </a>
        <div class="project-info">
          <h3><a href="#">A Project</a></h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut at pretium dui, in hendrerit nulla. Nam ac enim eu turpis sodales blandit. Etiam finibus ligula.</p>
        </div>
      </div>

        <div class="project-card">
        <a href="#">
          <img src="../photos/Wikimap.png" alt="picture">
        </a>
        <div class="project-info">
          <h3><a href="#">A Project</a></h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque arcu ante, lobortis vel metus cursus, elementum sollicitudin neque. Integer efficitur est non consequat hendrerit. Morbi.</p>
        </div>
      </div>

        <div class="project-card">
        <a href="#">
          <img src="../photos/Chatty-App.png" alt="picture">
        </a>
        <div class="project-info">
          <h3><a href="#">Another Project</a></h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut at pretium dui, in hendrerit nulla. Nam ac enim eu turpis sodales blandit. Etiam finibus ligula.</p>
        </div>
      </div>
    </div>
  </div>
<!-- </div> -->
