<div id="portfolio-wrapper" class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12" style="padding:unset;" >
  <div id="landing-2">
    <div class="svg-wrapper">
      <a id="jump" href="#portfolio-2">
        <svg height="60" width="320" xmlns="http://www.w3.org/2000/svg">
      <rect class="shape" height="60" width="320" />
      <div class="text">Luke Grossmann</div>
      </svg></a>
    </div>
  </div>
  <div id="portfolio-2">

    <div class="project-list">

      <div class="project-card">
        <a href="https://bcengineers.com" target="_blank">
          <a href="../photos/portfolio-bce.jpg" data-lightbox="portfolio" data-title="BCE" >
            <img src=../photos/portfolio-bce.jpg alt="picture">
          </a>
        </a>
        <div class="project-info">
          <h3 class="header-style" ><a href="https://bcengineers.com" target="_blank">BCE</a></h3>
          <p class="project-description BCEBCE">Redeveloping the BCE web platform to optimize functionality and security (Secure Sockets Layer implementation) while redesigning the U/I, U/X. Responsible for testing servers/processes, deployment and version control as well as managing all aspects of the project. While employed in this position I broadened my skill-set by utilizing environments and platforms that were unfamiliar to me as well as furthered my depth within technical tools that I have previously been comfortable with.</p>
        </div>
      </div>

      <div class="project-card">
        <a href="https://github.com/ItsJustChewbacca/Map-X" target="_blank">
          <a href="../photos/portfolio-MapX-lightbox-size.jpg" data-lightbox="portfolio" data-title="Map-X" >
            <img src=../photos/portfolio-MapX.jpg alt="picture">
          </a>
        </a>
        <div class="project-info">
          <h3 class="header-style" ><a href="https://github.com/ItsJustChewbacca/Map-X" target="_blank">Map-X</a></h3 >
          <p class="project-description map-x">Web-X is a web app designed for users that want to keep controller layouts consistent throughout multiple FPS games. In my passion for gaming and efficiency I conceptualized the web application Map X. Through construction of a great team we were able to bring the project from idea to reality – with myself focusing primarily on the database, migrations and back-end and front-end logic. Throughout the project I was able to oversee the team for creative and technical guidance while working collaboratively to create the final product.</p>
        </div>
      </div>
      <div class="project-card">
        <a href="https://github.com/ItsJustChewbacca/Website" target="_blank">
          <a href="../photos/portfolio-project.jpg" data-lightbox="portfolio" data-title="Sandbox" >
            <img src=../photos/portfolio-project.jpg alt="picture">
          </a>
        </a>
        <div class="project-info">
          <h3 class="header-style" ><a href="https://github.com/ItsJustChewbacca/Website" target="_blank">Portfolio Sandbox</a></h3 >
          <p class="project-description portfolio-card-p">Designed the portfolio web application to operate as a 'sandbox' mode. I am drawn to the thought, that having a 'sandbox' to code in, provides me the unique opportunity to help broaden my skill set as I implement new features. The portfolio 'sandbox' also gives me the ability to create more depth in technical tools I've previously been comfortable with. In addition, the web app is also a great source to enhance individual problem solving techniques as it doesn't disappoint in regards to debugging and continually tests my strength in all stages of the development and deployment cycle. The ever evolving web application is always hungry for the next update. Deployed on Digital Ocean utilizing bash for Nginx and PM2.</p>
        </div>
      </div>

      <div class="project-card">
        <a href="https://github.com/ItsJustChewbacca/ChattyApp" target="_blank">
          <a href="../photos/portfolio-ChattyApp-lightbox-size.jpg" data-lightbox="portfolio" data-title="Chatty App" >
            <img class="test" src="../photos/portfolio-ChattyApp.jpg" alt="picture">
          </a>
        </a>
        <div class="project-info">
          <h3 class="header-style" ><a href="https://github.com/ItsJustChewbacca/ChattyApp" target="_blank">ChattyApp</a></h3 >
          <p class="project-description chattyApp">ChattyApp is the start to a slack-like application using Reactjs and Websockets. This project gave me a foundational understanding of the tools Reactjs and Websockets, furthering my skill set in the construction and execution of real time web applications. </p>
        </div>
      </div>
      <div class="project-card">
        <a href="https://github.com/ItsJustChewbacca/jungle-rails" target="_blank">
          <a href="../photos/portfolio-jungleApp-lightbox-size.jpg" data-lightbox="portfolio" data-title="Jungle App" >
            <img src="../photos/portfolio-jungleApp.jpg" alt="picture">
          </a>
        </a>
        <div class="project-info">
          <h3 class="header-style" ><a href="https://github.com/ItsJustChewbacca/jungle-rails" target="_blank">Jungle Rails</a></h3 >
          <p class="project-description jungleRails">A mini e-commerce application built with Rails. This project challenged me to not only use a different language and framework, but to also develop my understanding how to properly design e-commerce web applications. It also gave me valuable insight into the business requirements of an e-commerce web application. </p>
        </div>
      </div>

        <div class="project-card">
        <a href="https://github.com/ItsJustChewbacca/tweeter" target="_blank">
          <a href="../photos/portfolio-tweeterApp-lightbox-size.jpg" data-lightbox="portfolio" data-title="Tweeter" >
            <img src="../photos/portfolio-tweeterApp.jpg" alt="picture">
          </a>
        </a>
        <div class="project-info">
          <h3 class="header-style" ><a href="https://github.com/ItsJustChewbacca/tweeter" target="_blank">Tweeter</a></h3 >
          <p class="project-description tweeter">Tweeter is a simple, single-page Twitter clone. This was the first project I created that utilized CSS and gave me a basic understanding of the challenges that lay within designing web applications.</p>
        </div>
      </div>

        <div class="project-card">
        <a href="https://github.com/ItsJustChewbacca/WikiMap" target="_blank">
          <a href="../photos/portfolio-wikiMapApp-lightbox-size.jpg" data-lightbox="portfolio" data-title="Wiki Map" >
            <img src="../photos/portfolio-wikiMapApp.jpg" alt="picture">
          </a>
        </a>
        <div class="project-info">
          <h3 class="header-style" ><a href="https://github.com/ItsJustChewbacca/WikiMap" target="_blank">Wiki-Map</a></h3 >
          <p class="project-description wikiMap">Wikimap is a web app that allows users to collaboratively create maps which list multiple "points", such as "Best Places to Eat Around Town" or "Locations of Movie Scenes". I was primarily focused on building the database, migrating the database, handling front-end javascript responsibilities and utilizing bootstrap mechanics to create the user interface/user experience.</p>
        </div>
      </div>

        <div class="project-card">
        <a href="https://github.com/ItsJustChewbacca/tiny-app-project" target="_blank">
          <a href="../photos/portfolio-tinyApp-lightbox-size.jpg" data-lightbox="portfolio" data-title="Tiny App" >
            <img src="../photos/portfolio-tinyApp.jpg" alt="picture">
          </a>
        </a>
        <div class="project-info">
          <h3 class="header-style" ><a href="https://github.com/ItsJustChewbacca/tiny-app-project" target="_blank">TinyApp</a></h3 >
          <p class="project-description tinyApp">TinyApp is a full stack web application built with Node and Express that allows users to shorten long URLs. Being the first web application that I constructed, this project not only helped to develop my initial skills in Nodejs and Express, but also gave me an Introduction to user-focused web tools.</p>
        </div>
      </div>
    </div>
  </div>
</div>
