<div id="portfolio-wrapper" class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12" >
  <div id="landing-2">
    <div class="svg-wrapper">
      <a id="jump" href="#portfolio-2">
        <svg height="60" width="320" xmlns="http://www.w3.org/2000/svg">
      <rect class="shape" height="60" width="320" />
      <div class="text">Luke Grossmann</div>
      </svg></a>
    </div>
  </div>
  <div id="portfolio-2">

    <div class="project-list">
      <div class="project-card">
        <a href="https://github.com/ItsJustChewbacca/Map-X" target="_blank">
          <img src=../photos/Homepage.png alt="picture">
        </a>
        <div class="project-info">
          <h3 class="header-style" ><a href="https://github.com/ItsJustChewbacca/Map-X" target="_blank">Map-X</a></h3 >
          <p class="project-description">Web-X is a web app designed for users that want to keep controller layouts consistent throughout multiple FPS games. In my passion for gaming and efficiency I conceptualized the web application Map X. Through construction of a great team we were able to bring the project from idea to reality – with myself focusing primarily on the database, migrations and back-end and front-end logic. Throughout the project I was able to oversee the team for creative and technical guidance while working collaboratively to create the final product.</p>
        </div>
      </div>

      <div class="project-card">
        <a href="https://github.com/ItsJustChewbacca/ChattyApp" target="_blank">
          <img src="../photos/Chatty-App-R.png" alt="picture">
        </a>
        <div class="project-info">
          <h3 class="header-style" ><a href="https://github.com/ItsJustChewbacca/ChattyApp" target="_blank">ChattyApp</a></h3 >
          <p class="project-description">ChattyApp is the start to a slack-like application using Reactjs and Websockets. This project gave me a foundational understanding of the tools Reactjs and Websockets, furthering my skill set in the construction and execution of real time web applications. </p>
        </div>
      </div>
      <div class="project-card">
        <a href="https://github.com/ItsJustChewbacca/jungle-rails" target="_blank">
          <img src="../photos/Jungle-r.png" alt="picture">
        </a>
        <div class="project-info">
          <h3 class="header-style" ><a href="https://github.com/ItsJustChewbacca/jungle-rails" target="_blank">Jungle Rails</a></h3 >
          <p class="project-description">A mini e-commerce application built with Rails. This project challenged me to not only use a different language and framework, but to also develop my understanding how to properly design e-commerce web applications. It also gave me valuable insight into the business requirements of an e-commerce web application. </p>
        </div>
      </div>

        <div class="project-card">
        <a href="https://github.com/ItsJustChewbacca/tweeter" target="_blank">
          <img src="../photos/tweeter-r.png" alt="picture">
        </a>
        <div class="project-info">
          <h3 class="header-style" ><a href="https://github.com/ItsJustChewbacca/tweeter" target="_blank">Tweeter</a></h3 >
          <p class="project-description">Tweeter is a simple, single-page Twitter clone. This was the first project I created that utilized CSS and gave me a basic understanding of the challenges that lay within designing web applications.</p>
        </div>
      </div>

        <div class="project-card">
        <a href="https://github.com/ItsJustChewbacca/WikiMap" target="_blank">
          <img src="../photos/WikiMap-r.png" alt="picture">
        </a>
        <div class="project-info">
          <h3 class="header-style" ><a href="https://github.com/ItsJustChewbacca/WikiMap" target="_blank">Wiki-Map</a></h3 >
          <p class="project-description">Wikimap is a web app that allows users to collaboratively create maps which list multiple "points", such as "Best Places to Eat Around Town" or "Locations of Movie Scenes". I was primarily focused on building the database, migrating the database, handling front-end javascript responsibilities and utilizing bootstrap mechanics to create the user interface/user experience.</p>
        </div>
      </div>

        <div class="project-card">
        <a href="https://github.com/ItsJustChewbacca/tiny-app-project" target="_blank">
          <img src="../photos/Tiny-app-r.png" alt="picture">
        </a>
        <div class="project-info">
          <h3 class="header-style" ><a href="https://github.com/ItsJustChewbacca/tiny-app-project" target="_blank">TinyApp</a></h3 >
          <p class="project-description">descriptionTinyApp is a full stack web application built with Node and Express that allows users to shorten long URLs. Being the first web application that I constructed, this project not only helped to develop my initial skills in Nodejs and Express, but also gave me an Introduction to user-focused web tools.</p>
        </div>
      </div>
    </div>
  </div>
</div>
