<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
<div class="resume">
  <div class="base">
    <div class="profile">
      <div class="photo"><img src="../photos/profile-pic.jpg"/></div>
      <div class="info">
        <h4 class="name">Luke Grossmann</h4><small class="job">Full-Stack Web Developer</small>
      </div>
    </div>
    <div class="about">
      <h3>About me</h3>Worked in a variety  of different roles within an array of industries,  some of which are: culinary-arts, competitive bodybuilding, and security.  Enjoys working in all areas of web development. Experienced in all stages of the development cycle for dynamic web projects.  Always striving to learn new programming techniques.  Extremely organized, quick learner, responsible and self driven, able to work alone or as part of a team.

    </div>
    <div class="contact">
      <h3>Contact</h3>
      <div class="call"><a href="tel:604-561-5889"><i class="fa fa-phone"></i> <span class="contact-text-color">(604) 561-5889</span></a></div>
      <div class="address"><i class="fa fa-map-marker"> </i><span>Vancouver, BC</span></div>
      <div class="email"><a href="mailto:l.baziwgrossmann@gmail.com">
        <i class="fa fa-envelope"></i><span class="contact-text-color">l.baziwgrossmann@<br/>gmail.com</span></a>
      </div>
      <!-- <div class="website"><a href="http://kelly.comxa.com/" target="_blank"> <i class="fa fa-home"></i><span>kelly.comxa.com</span></a></div> -->
    </div>
    <div class="follow">
      <h3>Follow</h3>
      <div class="box"><a href="https://www.facebook.com/luke.grossmann" target="_blank"><i class="fab fa-facebook-f"></i></a><a href="https://www.linkedin.com/in/lukegrossmann/" target="_blank"><i class="fab fa-linkedin-in"></i></a><a href="https://www.instagram.com/luke_ag/" target="_blank"><i class="fab fa-instagram"></i></a><a href="https://account.xbox.com/en-CA/Profile?xr=mebarnav" target="_blank"><i class="fab fa-xbox"></i></a><a href="https://github.com/ItsJustChewbacca" target="_blank"><i class="fab fa-github"></i></a><a href="https://twitter.com/GrossmannLuke?lang=en" target="_blank"><i class="fab fa-twitter"></i></a></div>
    </div>
  </div>
  <div class="func">
    <div class="work">
      <h3><i class="fa fa-briefcase"></i>Work Exrerience</h3>
      <ul>
        <li><span>Front-end Web Designer</span><small>Apr 2016 - Now</small></li>
        <li><span>Design Assistant</span><small>Mar 2015 - Dec 2015</small></li>
        <li><span>Design Assistant (Part-time)</span><small>Oct 2014 - Jul 2015</small></li>
      </ul>
    </div>
    <div class="edu">
      <h3><i class="fa fa-graduation-cap"></i>Education</h3>
      <ul>
        <li><span>Lighthouse Labs <br/> Diploma of Web Development in Software Craftsmanship</span><small>Nov 2017 - Feb 2018</small></li>
      </ul>
    </div>
    <div class="skills-prog">
      <h3><i class="fa fa-code"></i>Programming Skills</h3>
      <ul>
        <li data-percent="80"><span>HTML5 & PUG</span>
          <div class="skills-bar">
            <div class="bar"></div>
          </div>
        </li>
        <li data-percent="85"><span>EJS & ERB</span>
          <div class="skills-bar">
            <div class="bar"></div>
          </div>
        </li>
        <li data-percent="75"><span>Bootstrap 4</span>
          <div class="skills-bar">
            <div class="bar"></div>
          </div>
        </li>
        <li data-percent="60"><span>Knexjs</span>
          <div class="skills-bar">
            <div class="bar"></div>
          </div>
        </li>
        <li data-percent="65"><span>CSS3 & SASS</span>
          <div class="skills-bar">
            <div class="bar"></div>
          </div>
        </li>
        <li data-percent="90"><span>JavaScript</span>
          <div class="skills-bar">
            <div class="bar"></div>
          </div>
        </li>
        <li data-percent="40"><span>Ruby</span>
          <div class="skills-bar">
            <div class="bar"></div>
          </div>
        </li>

        <li data-percent="70"><span>jQuery</span>
          <div class="skills-bar">
            <div class="bar"></div>
          </div>
        </li>
        <li data-percent="60"><span>Reactjs</span>
          <div class="skills-bar">
            <div class="bar"></div>
          </div>
        </li>
        <li data-percent="60"><span>Websockets</span>
          <div class="skills-bar">
            <div class="bar"></div>
          </div>
        </li>
        <li data-percent="55"><span>Rails</span>
          <div class="skills-bar">
            <div class="bar"></div>
          </div>
        </li>
        <li data-percent="80"><span>NodeJS</span>
          <div class="skills-bar">
            <div class="bar"></div>
          </div>
        </li>
        <li data-percent="80"><span>Express</span>
          <div class="skills-bar">
            <div class="bar"></div>
          </div>
        </li>
        <li data-percent="95"><span>Git/Github</span>
          <div class="skills-bar">
            <div class="bar"></div>
          </div>
        </li>
        <li data-percent="40"><span>Google Maps API</span>
          <div class="skills-bar">
            <div class="bar"></div>
          </div>
        </li>
        <li data-percent="80"><span>SQL</span>
          <div class="skills-bar">
            <div class="bar"></div>
          </div>
        </li>
        <li data-percent="65"><span>Mocha & Chai</span>
          <div class="skills-bar">
            <div class="bar"></div>
          </div>
        </li>
        <li data-percent="45"><span>Rspec & Capybara</span>
          <div class="skills-bar">
            <div class="bar"></div>
          </div>
        </li>
      </ul>
    </div>
    <div class="skills-soft">
      <h3><i class="fa fa-th-list"></i>Software Skills</h3>
      <ul>
        <li data-percent="40">
          <svg viewbox="0 0 100 100">
            <circle cx="50" cy="50" r="45"></circle>
            <circle class="cbar" cx="50" cy="50" r="45"></circle>
          </svg><span>MongoDb</span><small></small>
        </li>
        <li data-percent="85">
          <svg viewbox="0 0 100 100">
            <circle cx="50" cy="50" r="45"></circle>
            <circle class="cbar" cx="50" cy="50" r="45"></circle>
          </svg><span>PostgreSQL</span><small></small>
        </li>
        <li data-percent="95">
          <svg viewbox="0 0 100 100">
            <circle cx="50" cy="50" r="45"></circle>
            <circle class="cbar" cx="50" cy="50" r="45"></circle>
          </svg><span>Sublime Text</span><small></small>
        </li>
        <li data-percent="25">
          <svg viewbox="0 0 100 100">
            <circle cx="50" cy="50" r="45"></circle>
            <circle class="cbar" cx="50" cy="50" r="45"></circle>
          </svg><span>Unity Game Engine</span><small></small>
        </li>
      </ul>
    </div>
    <div class="interests">
      <h3><i class="fa fa-star"></i>Interests</h3>
      <div class="interests-items">
        <div class="draw"><i class="fas fa-chess"></i></i><span>Chess</span></div>
        <div class="movie"><i class="fas fa-laptop"></i><span>Tech</span></div>
        <div class="music"><i class="fas fa-futbol"></i><span>Soccer</span></div>
        <div class="game"><i class="fa fa-gamepad"></i><span>Game</span></div>
      </div>
    </div>
  </div>
</div>
</div>
 <script type="text/javascript" src="/scripts/resume.js"></script>

