.welcome-background {
  background: url('../photos/summer-welcome-screen.jpg');
    background-size: cover;
    background-repeat:no-repeat;
    background-position:center;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
    -ms-content-zooming: none;
    position:absolute;
    width:100%;
    height:100%;
    overflow: scroll;
    display:none;
    overflow:hidden;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

  }
  .time {
    font-size: 4rem;
    font-weight: 700;
  }
}
#datetime {
  font-family:sans-serif;
  color:black;
}


.custom-input, .btn-custom {
  border: 0;
  background: transparent;
  border-bottom: 4px solid white;
  border-radius: 0;
  margin-bottom: 0;
}
.custom-input:focus {
  border-color: white;
  background: transparent;
  color: white;
}
.btn-custom {
  color: white;
  cursor: pointer;
}
.display-5 {
  font-size: 1.5rem;
}
#greeting {
  font-size: 2rem;
  font-family:sans-serif;
  color:black;
}
.center-welcome {
  padding-top:200px;
}
@media (min-width: 576px) {
  .background h1 {
    font-size: 5.5rem;
  }
  .display-5 {
    font-size: 2.5rem;
  }
  #greeting {
    font-size: 2.5rem;
  }
}
@media (min-width: 992px) {
  .background h1 {
    font-size: 6rem;
  }
  #greeting {
    font-size: 3rem;
  }
}

@media (min-width: 1200px) {
  .background h1 {
    font-size: 7.5rem;
  }
  #greeting {
    font-size: 3.6rem;
  }
}

.container {
  padding-top: 15px
}

.first-text li {
  display: inline-block;
  font-family: serif;
  font-weight: 300;
  font-size: 1em;
  color: #fff;
  opacity: 1;
  transition: all 2.5s ease;
  margin-right: 25px;
  margin-left: 25px;
}
.first-text {
  padding-left:0.85em;
  padding-top:0.5em;
}
.first-text li .middle-letter {
  color: black;
}

.first-text.hidden li {
  opacity: 0;
}

.first-text.hidden li:nth-child(1) { transform: translateX(-200px) translateY(-200px);}
.first-text.hidden li:nth-child(2) { transform: translateX(20px) translateY(100px);}
.first-text.hidden li:nth-child(3) { transform: translateX(-150px) translateY(-80px);}
.first-text.hidden li:nth-child(4) { transform: translateX(10px) translateY(-200px);}
.first-text.hidden li:nth-child(5) { transform: translateX(-300px) translateY(200px);}
.first-text.hidden li:nth-child(6) { transform: translateX(20px) translateY(-20px);}
.first-text.hidden li:nth-child(7) { transform: translateX(30px) translateY(200px);}
